* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
}

body, html {
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

:root {
  --background-color: #fbfbfe;
  --foreground-color: #d6d1ce;
  --primary-text-color: #040316;
  --secondary-text-color: #443333;
  --toggle-bg: #b2c0c7;
  --toggle-fg: #040316;
}

[data-theme="dark"] {
  --background-color: #242424;
  --foreground-color: #060422;
  --primary-text-color: #eae9fc;
  --secondary-text-color: #0600c2;
  --toggle-bg: #99ddd786;
  --toggle-fg: #dfdfd4;
}


/* Scrollbar styling 
azul ualg:   #41C3FF
branco ualg: #FFFFFE
preto-acizentado (texto ualg): #0B0C11
preto-profundo: #010208
*/

/*
verde inesc: #47704C
azul insec: #105A7E
variação do verde: #48704B
azul escuro: #0E5980
*/