* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
}

body, html {
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

:root {
  /* Base (Light theme) */
  --background-color: #FFFFFF;
  --foreground-color: #F6F7F9;
  --primary-text-color: #0B0C11;
  --secondary-text-color: #949c94;
  
  /* Accent colors */
  --accent-color: #41C3FF; /* Deep Sky Blue */
  --accent-dark: #105A7E;  /* Deep Ocean Blue */
  --success-color: #48704B; /* Fern Green */
  
  /* UI elements */
  --toggle-bg: #E0E0E0;
  --toggle-fg: #0B0C11;
  --border-color: #DADADA;
  --card-bg: #FFFFFF;
}

[data-theme="dark"] {
  /* Base (Dark theme) */
  --background-color: #0B0C11;
  --foreground-color: #0B0C11;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #105A7E;
  
  /* Accent colors */
  --accent-color: #105A7E;  /* Deep Ocean Blue */
  --accent-dark: #41C3FF;  /* Swap accent for brightness */
  --success-color: #48704B; /* Fern Green */

  /* UI elements */
  --toggle-bg: #105A7E;
  --toggle-fg: #FFFFFF;
  --border-color: #1E1E1E;
  --card-bg: #0B0C11;
}



/* Scrollbar styling 
azul ualg:   #41C3FF
branco ualg: #FFFFFE
preto-acizentado (texto ualg): #0B0C11
preto-profundo: #010208
*/

/*
verde inesc: #47704C
azul insec: #105A7E
variação do verde: #48704B
azul escuro: #0E5980
*/