* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

:root {
  --background-color: #242424;
  --foreground-color: #5640b8;
  --primary-text-color: #ffffff;
  --secondary-text-color: #bbbbbb;
  --toggle-bg: #e6e47e;
  --toggle-fg: #f0ec03;
}

[data-theme="light"] {
  --background-color: #dfdfdf;
  --foreground-color: #5640b8;
  --primary-text-color: #201e1e;
  --secondary-text-color: #000000;
  --toggle-bg: #252e33;
  --toggle-fg: #6e4e8b;
}